<% if logged_in? %>
  <div>Welcome back, <%= current_user.name %></div>
  <p>Please select an action:</p>
  <%= link_to "File a Daily Progress Report", new_daily_report_url %>

<% else %>
  <div>Welcome to the App Academy student app!</div>
  <%= link_to "Please log in to proceed", new_session_url %>
<% end %>