<% if logged_in? %>
  <div>Welcome back, <%= current_user.name %></div>

  <% if current_user.admin? %>

    <%= render 'admin_homepage' %>

  <% else %>

    <%= render 'student_homepage' %>

  <% end %>

<% else %>

  <div>Welcome to App Genius!</div>
  <%= link_to "Please log in to proceed", new_session_url %>

<% end %>