<h4>app/models/user.rb</h4>
<div class="file" id="app-models-user-rb">
<pre>
class User
  belongs_to :ta
end
</pre>
</div>

<h4>app/controllers/users_controller.rb</h4>
<div class="file" id="app-controllers-user-rb">
<pre>
class UsersController

end
</pre>
</div>

<script>
var annotations = [{"start-pos":12, "end-pos":15,
              "file-id":"app-models-user-rb",
              "comments":[
                            {
                            "user-name":"Buck",
                            "body": "This is shitty here"
                            }
                          ]
}];
</script>
