
<!--
# == Schema Information
#
# Table name: daily_reports
#
#  id                      :integer          not null, primary key
#  week                    :integer
#  day                     :integer
#  finished_exercises      :boolean
#  read_solutions          :boolean
#  read_tomorrows_readings :boolean
#  rating_of_understanding :integer
#  easiest_concept         :string(255)
#  most_difficult_concept  :string(255)
#  pair_name               :string(255)
#  pair_rating             :integer
#  pair_comments           :text
#  daily_comments          :text
#  user_id                 :integer
#  created_at              :datetime
#  updated_at              :datetime
#
-->

<h1>Daily Progress Report</h1>

<%= render 'form', :daily_report => @daily_report, :action => :new %>